.ContactUsPage {
    .img {
        padding-top: 60%;
        width: 100%;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .volunteer-list {
        text-align: center;
    }
}